/* Fontes */

@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

/* Padrão */

:root {
    --primary-color: #000000;
    --secondary-color: #F6F6F6;
    --tertiary-color: #5D71D7;
    --quaternario-color: #272727;

    --font-primary: 'Krona One', sans-serif;
    --font-secondary: 'Montserrat' sans-serif;

}

* {
    margin: 0;
    padding: 0;
}

body {  
    background-color: var(--primary-color); 
    color: #F6F6F6; 
    box-sizing: border-box;
} 

.header {
    padding: 2% 0% 0% 15%;
}

.header__menu {
    display: flex;
    gap: 80px;
}

.header__menu__link {
    font-family: var(--font-secondary);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--tertiary-color); 
    text-decoration: none;  
}

.container {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.container__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.title_one {
    font-size: 2.25rem;
    font-family: var(--font-primary);
}

.title-destaque {
    color: var(--tertiary-color);
}

.title-destaque:hover {
    background-color: var(--quaternario-color);
    font-size: 38px;
    
}

.text_one {
    font-size: 1.5rem;
    font-family: var(--font-secondary);
}

.text_one a {
    text-decoration: none;
    color: var(--tertiary-color);
}

.container__links {
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 32px;
}

.container__links__subtitulo {
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 1.5rem;
}

.container__links__navegacao {
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 40%;
    text-align: center;
    border-radius: 16px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--tertiary-color);
    font-family: var(--font-secondary);
    box-shadow: 0 0 10px var(--tertiary-color);
}

.container__links__link:hover {
    background-color: var(--quaternario-color);
}

.container__img {
    border-radius: 16px;
    box-shadow: 0 0 10px var(--tertiary-color);
    width: 40%;
}

.footer {
    color: var(--primary-color);
    background-color: var(--tertiary-color);
    padding: 24px;
    text-align: center;
    font-family: var(--secondary-color);
    font-size: 1.5rem;
    font-weight: 400;
}

/* Responsivo */

@media (max-width: 1200px ) {
    .header { 
        padding: 10%;
    }

    .header__menu {
        justify-content: center;
    }

    .container { 
        flex-direction: column-reverse;
        padding: 5%;
    }

    .container__conteudo {
        width: auto;
    }

}

